<div>
    <h1>HONR 291 Enigma</h1>
    <div class="form-container">
        <div class="detail-header">
            Encryptions:
            <button id="addEncryptionButton">New Encryption</button>
        </div>
        <div id="encryptDetails"></div>
        <pre><div id="encryption-report"></div></pre>
    </div>
    <div class="form-container2">
        <div class="detail-header2">
            Decryptions:
            <button id="addDecryptionButton">New Decryption</button>
        </div>
        <div id="decryptDetails"></div>
        <pre><div id="decryption-report"></div></pre>
    </div>
</div>
